---
import { projects } from "@cv";
import SkillPill from "../SkillPill.astro";
import AstroIcon from "@/icons/skills/AstroIcon.astro";
import GitHub from "@/icons/contact/GitHub.astro";

interface Projects {
  name: string;
  isActive: boolean;
  description: string;
  highlights: string[];
  url: string;
  image: string;
}
---

<section id="projects" class="flex flex-col gap-7 pt-20">
  <header class="flex justify-center items-center">
    <h2 class="text-3xl font-bold text-gunmetal">Proyectos</h2>
  </header>
  <main class="">
    <ul class="flex flex-col gap-10">
      {
        projects.map(
          (
            { name, isActive, description, highlights, skills, url, image },
            index
          ) => {
          const isEven = (index+1)%2==0;
          return(
            <li class="flex justify-center w-full items-center">
              <div class="flex items-center h-full w-[75vw]">
                <div
                  class:list={[
                    "flex-[3] flex justify-center items-center",
                    {
                      "order-1": !isEven,
                      "order-2": isEven,
                    }
                  ]}
                >
                  <div class:list={[
                    "py-10",
                    {
                      "pr-20": !isEven,
                      "pl-20": isEven
                    }
                  ]}
                  >
                    <img
                      src={image}
                      alt="Spoilt at Subi"
                      class="w-full h-full object-cover rounded-2xl"
                    />
                  </div>
                </div>
                <div class:list={[
                  "flex-[2] h-full",
                  {
                    "order-2": !isEven,
                    "order-1": isEven,
                  }
                ]}>
                  <article class="flex flex-col justify-center gap-5 rounded-lg py-10 h-full [&>p]:text-md [&>p]:leading-tight">
                    <a
                      href={url}
                      target="_blank"
                      title={`Ver el proyecto ${name}`}
                    >
                      <h1 class="text-3xl font-semibold text-[#ff3385]">
                        {name}
                      </h1>
                    </a>
                    <p>{description}</p>
                    <ul>
                      {highlights.map((highlight) => (
                        <li class="flex">
                          <span class="text-sky-400">✔</span>
                          <p>{highlight}</p>
                        </li>
                      ))}
                    </ul>
                    <ul class="flex gap-1">
                      {skills?.map((skill) => (
                        <li>
                          <SkillPill>{skill}</SkillPill>
                        </li>
                      ))}
                    </ul>
                  </article>
                </div>
              </div>
            </li>
          );
          }
        )
      }
    </ul>
  </main>
</section>

<style>
  @keyframes flicker {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.25;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes reveal {
    from {
      transform: translateY(200px);
    }
    to {
      transform: translateY(0px);
    }
  }

  h2,li,p {
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: reveal;
    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
  }
</style>
